/* html, body {
    height: 100%;
    margin: 0;
}

body {
    background-image: url('assets/home.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    padding-top: 0px; /* Adjust this value based on your navbar height 
}

*/

button{
    background-color: PRIMARY;
}